body {
  margin: 0;
  font-family: 'PlayfairDisplay', regular;
  color: #626262;
}
header {
}
nav {
	font-family: 'Inconsolata', regular;
	padding-top: 70px;
  	overflow: hidden;
}
.logo-box {
    padding: 0;
	float: left;
  	margin-left: 70px;
}
h1 {
	margin: 0;
}
.logo {

}
ul {
  margin: 0;
  margin-right: 70px;
  padding-left: 0;
  list-style: none;
  float: right;
}
a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
li a {
  color: #868686;
  text-transform: uppercase;
}
li {
  display: inline-block;
  margin-left: 130px;
  transition: .5s linear;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #868686;
  transition: all 0.5s linear;  
}
li a:hover:after{
  width: 100%;
}
#pic1 {
	margin: 70px;
	max-width: 100;
	height: auto;
}
img {
	width: 100%;
	height: auto;
}
#content {
	margin: 70px;

}
#left-container {
	float: left;
	width: 660px;	
}
#right-container {
	float: right;
	width: 252px;
}
h2 {
	font-family: 'Ubuntu Light', light;
	color: #959595;
	font-size: 14px;
}
h3 {
	font-size: 30px;
	
}
h4 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
}
#bio {
	font-size: 12px;
}
.photo {
	margin-top: 50px;
}













