body {
  margin: 0;
  font-family: 'PlayfairDisplay', regular;
  font-size: 16,5px;
  color: #626262;
  height: 100%;
  position: relative;
}
header {
}
article {
	display: inline-block;
}
nav {
	padding-top: 70px;
  	overflow: hidden;
	max-width: 1061px;
	margin: 0 auto;
}
.logo-box {
    padding: 0;
	float: left;
}
h1 {
	margin: 0;
}
.logo {

}
ul {
  margin: 0;
  margin-left: 70px;
  padding-left: 0;
  list-style: none;
  float: right;
}
a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
li a {
  color: #868686;
  text-transform: uppercase;
}
li {
  display: inline-block;
  margin-left: 100px;
  transition: .5s linear;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #868686;
  transition: all 0.5s linear;  
}
li a:hover:after{
  width: 100%;
}
.pic1 {
	margin: 0 auto;
	margin-top: 70px;
	max-width: 1061px;
	height: auto;
	margin-bottom: 100px;
}
img {
	width: 100%;
	height: auto;
}
main {
	margin: 0 auto;
	height: 3250px;
	max-width: 1061px;
}
selection {
	float: left;
	width: 69%;
	height: 2450px;
	margin-right: 5%;	
}
.article-text {
	float: left;
	width: 90%;
	margin-right: 10%;
}
aside {
	float: right;
	width: 26%;
}
@font-face {
	font-family: Ubuntu Light; 
	src: local("Ubuntu Light"), url(fonts/Ubuntu-L.ttf);
}
h2 {
	font-family: 'Ubuntu Light';
	color: #b4ad9e;
	font-size: 14px;
}
h3 {
	font-size: 30px;
	font-weight: normal;
	
}
h4 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: normal;
	font-size: 24px;
}
.bio {
	font-size: 12,1px;
}
.photo {
	margin-top: 50px;
}
.social {
	margin-top: 20px;
	height: 20px;
	padding-bottom: 50px;
}
.icon {
	max-height: 20px;
	width: auto;
	padding-right: 16px;
	float: left;
}
.disc {
	max-width: 5px;
	height: auto;
	margin-right: 22px;
}
.post {
	margin-top: 20px;
}
.comments {
	font-family: 'Ubuntu Light';
	font-size:12px;
	color: #b4ad9e;
	margin-top: 10px;
	margin-left: 30px;
}
.banner {
	max-height: 250px;
	max-width: 250px;
	margin: 0 auto;
	margin-top: 55px;
}
footer {
	background-color: #d9d9d9;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.share {
	float:right;
	margin-top: 50px;
	height: 20px;
	width: 30%;
	margin-bottom: 40px;
	margin-left: 70%;
}
.share-text {

	font-family: 'Ubuntu Light', light;
	font-size:14px;
	color: #b4ad9e;
	float: left;
}
.share-img {
	float: right;
}
.quote {
	max-width: 92%;
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 33px;
	font-style: italic;
}
.text-bold {
	font-weight: bold;
}
.footer-main {
	max-width: 1061px;
	margin: 0 auto;
	margin-top: 40px;
}
.terms {
	float: left;
	color: black;
	margin-right:20px;
}
.follow {
	float: right;
	color: black;
}
.icon-footer {
	max-height: 20px;
	width: auto;
	padding-left: 16px;
	float: right;
}













